<div class="w-full max-w-3xl">
    <!-- Form -->
    <form [formGroup]="planBillingForm">
        <!-- Section -->
        <div class="w-full">
            <div class="text-xl">Order options</div>
        </div>
        <div class="grid grid-cols-4 gap-6 w-full mt-8">
            <div class="col-span-4 sm:col-span-2">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Customer options</mat-label>
                    <mat-select [formControlName]="'country'">
                        <mat-option [value]="'usa'"
                            >Create unique customer for each order</mat-option
                        >
                        <mat-option [value]="'canada'">Canada</mat-option>
                        <mat-option [value]="'mexico'">Mexico</mat-option>
                        <mat-option [value]="'france'">France</mat-option>
                        <mat-option [value]="'germany'">Germany</mat-option>
                        <mat-option [value]="'italy'">Italy</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-span-4 sm:col-span-2">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Customer group for new customers</mat-label>
                    <mat-select [formControlName]="'country'">
                        <mat-option [value]="'usa'"
                            >Customer group forA (ID 4)</mat-option
                        >
                        <mat-option [value]="'canada'">Canada</mat-option>
                        <mat-option [value]="'mexico'">Mexico</mat-option>
                        <mat-option [value]="'france'">France</mat-option>
                        <mat-option [value]="'germany'">Germany</mat-option>
                        <mat-option [value]="'italy'">Italy</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-span-4 sm:col-span-2">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Order status</mat-label>
                    <mat-select [formControlName]="'country'">
                        <mat-option [value]="'usa'">Pick</mat-option>
                        <mat-option [value]="'canada'">Canada</mat-option>
                        <mat-option [value]="'mexico'">Mexico</mat-option>
                        <mat-option [value]="'france'">France</mat-option>
                        <mat-option [value]="'germany'">Germany</mat-option>
                        <mat-option [value]="'italy'">Italy</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <!-- Divider -->
        <div class="mt-12 mb-10 border-t"></div>

        <!-- Section -->
        <div class="w-full">
            <div class="text-xl">Shipment options</div>
        </div>
        <div class="grid sm:grid-cols-4 w-full">
            <div class="sm:col-span-4">
                <mat-form-field
                    appearance="none"
                    class="fuse-mat-no-subscript fuse-mat-emphasized-affix my-0 w-full"
                >
                    <div class="text-secondary font-bold" matPrefix>
                        <span class="w-40 sm:w-48 truncate block mr-10"
                            >Woo Commerce</span
                        >
                    </div>
                    <input disabled value="Master Maropost" matInput />
                </mat-form-field>
            </div>
            <div class="sm:col-span-4">
                <mat-form-field
                    class="fuse-mat-no-subscript fuse-mat-emphasized-affix my-0 w-full"
                >
                    <div class="text-secondary" matPrefix>
                        <span class="w-40 sm:w-48 truncate block"
                            >Free Shipping</span
                        >
                    </div>
                    <mat-icon
                        class="icon-size-5 -mr-2.5"
                        [svgIcon]="'heroicons_solid:arrow-right'"
                        matPrefix
                    ></mat-icon>
                    <mat-select [formControlName]="'country'">
                        <mat-option [value]="'usa'"
                            >eParcel Standard</mat-option
                        >
                        <mat-option [value]="'canada'">Canada</mat-option>
                        <mat-option [value]="'mexico'">Mexico</mat-option>
                        <mat-option [value]="'france'">France</mat-option>
                        <mat-option [value]="'germany'">Germany</mat-option>
                        <mat-option [value]="'italy'">Italy</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="sm:col-span-4">
                <mat-form-field
                    class="fuse-mat-no-subscript fuse-mat-emphasized-affix my-0 w-full"
                >
                    <div class="text-secondary" matPrefix>
                        <span class="w-40 sm:w-48 truncate block"
                            >Free Express Shipping</span
                        >
                    </div>
                    <mat-icon
                        class="icon-size-5 -mr-2.5"
                        [svgIcon]="'heroicons_solid:arrow-right'"
                        matPrefix
                    ></mat-icon>
                    <mat-select [formControlName]="'country'">
                        <mat-option [value]="'usa'">eParcel Express</mat-option>
                        <mat-option [value]="'canada'">Canada</mat-option>
                        <mat-option [value]="'mexico'">Mexico</mat-option>
                        <mat-option [value]="'france'">France</mat-option>
                        <mat-option [value]="'germany'">Germany</mat-option>
                        <mat-option [value]="'italy'">Italy</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="sm:col-span-4">
                <mat-form-field
                    class="fuse-mat-no-subscript fuse-mat-emphasized-affix my-0 w-full"
                >
                    <div class="text-secondary" matPrefix>
                        <span class="w-40 sm:w-48 truncate block"
                            >Standard Rate International</span
                        >
                    </div>
                    <mat-icon
                        class="icon-size-5 -mr-2.5"
                        [svgIcon]="'heroicons_solid:arrow-right'"
                        matPrefix
                    ></mat-icon>
                    <mat-select [formControlName]="'country'">
                        <mat-option [value]="'usa'"
                            >Australia Post International</mat-option
                        >
                        <mat-option [value]="'canada'">Canada</mat-option>
                        <mat-option [value]="'mexico'">Mexico</mat-option>
                        <mat-option [value]="'france'">France</mat-option>
                        <mat-option [value]="'germany'">Germany</mat-option>
                        <mat-option [value]="'italy'">Italy</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <!-- Divider -->
        <div class="mt-12 mb-10"></div>

        <div class="grid grid-cols-4 gap-6 w-full mt-8">
            <div class="col-span-4 sm:col-span-2">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Payment </mat-label>
                    <mat-select [formControlName]="'country'">
                        <mat-option [value]="'usa'"
                            >Do not mark as paid</mat-option
                        >
                        <mat-option [value]="'canada'">Canada</mat-option>
                        <mat-option [value]="'mexico'">Mexico</mat-option>
                        <mat-option [value]="'france'">France</mat-option>
                        <mat-option [value]="'germany'">Germany</mat-option>
                        <mat-option [value]="'italy'">Italy</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <!-- Divider -->
        <div class="mt-11 mb-10 border-t"></div>

        <!-- Actions -->
        <div class="flex items-center justify-end">
            <button mat-stroked-button type="button">Cancel</button>
            <button
                class="ml-4"
                mat-flat-button
                type="button"
                [color]="'primary'"
            >
                Save
            </button>
        </div>

        <!-- Divider -->
        <div class="mt-11 mb-10 border-t"></div>

        <!-- Section -->
        <div class="grid sm:grid-cols-3 gap-6 w-full mt-8">
            <!-- Plan -->
            <div class="sm:col-span-3">
                <fuse-alert [appearance]="'outline'" [type]="'info'">
                    <span fuseAlertTitle>Activate Order Sync</span>
                    <div
                        class="flex flex-col sm:flex-row items-between justify-between"
                    >
                        <span
                            >If mapping has been completed, you can activate
                            this sync.</span
                        >
                        <button
                            class="mt-2 sm:m-auto sm:mr-0"
                            mat-flat-button
                            type="button"
                            [color]="'primary'"
                        >
                            Activate
                        </button>
                    </div>
                </fuse-alert>
            </div>
        </div>
    </form>
</div>
