<div class="w-full max-w-3xl">
    <!-- Form -->
    <form [formGroup]="inventoryForm">
        <!-- Section -->
        <div class="flex flex-col w-full mt-8">
            <div>
                <mat-form-field class="fuse-mat-no-subscript w-full sm:w-1/2">
                    <mat-label>Take stock from</mat-label>
                    <mat-select [formControlName]="'takeStockFrom'">
                        <mat-option [value]="'availableSellQuantity'"
                            >AvailableSellQuantity</mat-option
                        >
                        <mat-option [value]="'canada'">Canada</mat-option>
                        <mat-option [value]="'mexico'">Mexico</mat-option>
                        <mat-option [value]="'france'">France</mat-option>
                        <mat-option [value]="'germany'">Germany</mat-option>
                        <mat-option [value]="'italy'">Italy</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field
                    class="fuse-mat-no-subscript w-full sm:w-1/2 mt-8"
                >
                    <mat-label>Set stock buffer</mat-label>
                    <input [formControlName]="'setStockBuffer'" matInput />
                </mat-form-field>
            </div>
            <div>
                <mat-form-field
                    class="fuse-mat-no-subscript w-full sm:w-1/2 mt-8"
                >
                    <mat-label>Virtual stock qty</mat-label>
                    <input [formControlName]="'virtualStockQty'" matInput />
                </mat-form-field>
            </div>
        </div>

        <!-- Divider -->
        <div class="mt-11 mb-10 border-t"></div>

        <!-- Actions -->
        <div class="flex items-center justify-end">
            <button mat-stroked-button type="button">Cancel</button>
            <button
                class="ml-4"
                mat-flat-button
                type="button"
                [color]="'primary'"
            >
                Save
            </button>
        </div>
        <ng-container *ngIf="!data?.inventory?.isActive">
            <!-- Divider -->
            <div class="mt-11 mb-10 border-t"></div>

            <!-- Section -->
            <div class="flex">
                <fuse-alert [appearance]="'outline'" [type]="'info'">
                    <span fuseAlertTitle>Activate Inventory Sync</span>
                    <div class="flex">
                        <span class="mr-4"
                            >If mapping has been completed, you can activate
                            this sync.</span
                        >
                        <button
                            class="ml-auto mr-0"
                            mat-flat-button
                            type="button"
                            [color]="'primary'"
                            (click)="activatePanel()"
                        >
                            Activate
                        </button>
                    </div>
                </fuse-alert>
            </div>
        </ng-container>
    </form>
</div>
