/* Variables */
:root {
    --fuse-drawer-width: 85vw !important;
}

.fields-wrapper {
    grid-template-columns: 30% 30% auto 36px;
    gap: 30px;
    // @screen sm {
    //     grid-template-columns: repeat(3, 1fr) 116px;
    // }

    // @screen md {
    //     grid-template-columns: repeat(5, 1fr) 116px;
    // }

    @screen lg {
        grid-template-columns: 30% 30% auto 36px;
    }
}

.connection-grid-wrapper {
    grid-template-columns: 15% 15% auto 15% 15% 36px;
    gap: 10px;
    // @screen sm {
    //     grid-template-columns: repeat(3, 1fr) 116px;
    // }

    // @screen md {
    //     grid-template-columns: repeat(5, 1fr) 116px;
    // }

    @screen lg {
        grid-template-columns: 15% 15% auto 15% 15% 36px;
    }
}

.tab-grid-wrapper {
    grid-template-columns: 24px 2fr 2fr 3fr 2fr 1fr 50px 60px 50px 36px 24px;
    gap: 10px;

    .collapse-wrapper {
        .collapsed-button {
            display: block !important;
            box-shadow: none !important;
        }

        .expanded-button {
            display: none !important;
            box-shadow: none !important;
        }
    }

    &.collapsed {
        .collapse-wrapper {
            .collapsed-button {
                display: none !important;
            }

            .expanded-button {
                display: block !important;
            }
        }

        &+.value-options-grid {
            display: none !important;
        }
    }

    // @screen sm {
    //     grid-template-columns: repeat(3, 1fr) 116px;
    // }

    // @screen md {
    //     grid-template-columns: repeat(5, 1fr) 116px;
    // }

    @screen lg {
        grid-template-columns: 24px 2fr 2fr 3fr 2fr 1fr 50px 60px 50px 36px 24px;
    }
}

.value-options-grid {
    .value-options-grid-wrapper {
        grid-template-columns: repeat(5, 2fr) 1fr 36px;
        gap: 10px;
        // @screen sm {
        //     grid-template-columns: repeat(3, 1fr) 116px;
        // }

        // @screen md {
        //     grid-template-columns: repeat(5, 1fr) 116px;
        // }

        @screen lg {
            grid-template-columns: repeat(5, 2fr) 1fr 36px;
        }
    }
}

.mat-icon {
    @apply icon-size-5;
}

.mat-icon-button {
    width: 36px !important;
}

.sync-label-input {
    width: 85% !important;
}

.mat-icon .value-add-icon {
    color: #ffffff !important;
}
