<div class="flex flex-col flex-auto w-full">
  <div class="flex flex-wrap w-full max-w-screen-xl mx-auto">
    <!-- Title and action buttons -->
    <div class="flex items-center justify-between w-full">
      <div class="h-14 flex flex-col justify-center">
        <div class="text-3xl font-semibold tracking-tight leading-8">
          Custom Request
        </div>
        <div class="font-medium tracking-tight text-secondary">
          If you’re looking for a Source or Channel integration that we do not have, send us an email at support@ecommify.io with your request and we’ll come back to you.
        </div>
      </div>
    </div>
  </div>
</div>