<div class="flex flex-col flex-auto w-full">
  <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-8">
    <!-- Title and action buttons -->
    <div class="flex items-center justify-between w-full">
      <div>
        <div class="text-3xl font-semibold tracking-tight leading-8">Users</div>
        <div class="mt-2 text-base leading-none text-secondary">
          To request new or modify user access to your company, please contact
          support@ecommify.io.
        </div>
      </div>
    </div>
  </div>
</div>
