/* Variables */
:root {
    --fuse-drawer-width: 85vw !important;
}

.mapping-area {
  max-height: calc(100vh - 290px);
  .fuse-mat-emphasized-affix {
    .mat-form-field-wrapper {
      .mat-form-field-flex {
        border: none;
        border-radius: 0;
        min-height: 40px;
        .mat-form-field-prefix {
          width: 50%;
        }
  
        .mat-form-field-infix {
          width: 50%;
          padding-left: 10px;
        }
      }
    }
  }
  // .mapping-table .mat-form-field-appearance-fill.mat-form-field-disabled .mat-form-field-flex, body .light .mat-form-field-appearance-fill.mat-form-field-disabled .mat-form-field-flex {
  //   &:last-child {
  //     border-bottom-left-radius: 0.375rem;
  //     border-bottom-right-radius: 0.375rem;
  //   }
  // }
  // .mapping-table {
  //   .fuse-mat-emphasized-affix {
  //     .mat-form-field-wrapper {
  //       .mat-form-field-flex {
  //         &:last-child {
  //           border-bottom-left-radius: 0.375rem;
  //           border-bottom-right-radius: 0.375rem;
  //         }
    
  //       }
  //     }
  //   }
  // }

  .fuse-mat-emphasized-affix {
    .mat-form-field-wrapper {
      .mat-form-field-flex {
        border-radius: 0;

        .mat-form-field-prefix {
          border-radius: 0 !important;
        }
      }

      .mat-form-field-flex:last-child {
        border-bottom-left-radius: 0.375rem !important;
        border-bottom-right-radius: 0.375rem !important;
      }

      .mat-form-field-flex:last-child .mat-form-field-prefix {
        border-bottom-left-radius: 0.375rem !important;
        border-top-left-radius: 0 !important;
      }
    }
  }
  .child-form-field{
    .mat-form-field-wrapper {
      .mat-form-field-flex {
        padding-right: 16px !important;
        padding: 0px !important;
        .mat-form-field-infix {
          padding-left: 0px;
        }
      }
    }
  }

  .fuse-mat-emphasized-affix.mat-focused .mat-form-field-wrapper .mat-form-field-flex {
    background-color: #E0E7FF !important;
  }

  .parent-form-field{
    .mat-form-field-wrapper {
      .mat-form-field-flex {
        padding-right: 16px !important;
        padding: 0px !important;
        .mat-form-field-infix {
          padding-left: 8px;
        }
      }
    }
  }
  .parent-field-icon{
    margin-top: -1.5px;
  }
  .mapping-table:last-child {
    .fuse-mat-emphasized-affix {
      .mat-form-field-wrapper {
        .mat-form-field-flex {
          border-bottom-left-radius: 0.375rem !important;
          border-bottom-right-radius: 0.375rem !important;
  
          .mat-form-field-prefix {
            border-bottom-left-radius: 0.375rem !important;
          border-top-left-radius: 0 !important;
          }
        }
      }
    }
  }

  .mapping-head {
    .fuse-mat-emphasized-affix {
      .mat-form-field-wrapper {
        .mat-form-field-flex {
          border-top-left-radius: 0.375rem;
          border-top-right-radius: 0.375rem;

          .mat-form-field-prefix {
            border-top-left-radius: 0.375rem !important;
            border-bottom-left-radius: 0 !important;
          }
        }
      }
    }
  }

  .fuse-mat-emphasized-affix .mat-form-field-wrapper .mat-form-field-flex {
    background-color: #F1F5F9 !important;
  }

  .mat-form-field.mat-form-field-appearance-fill.fuse-mat-emphasized-affix .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-prefix, .mat-form-field.mat-form-field-appearance-fill.fuse-mat-emphasized-affix .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-suffix {
    background-color: white !important;
  }

  .mat-form-field.mat-form-field-appearance-fill.dynamic-rows:hover .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-prefix, .mat-form-field.mat-form-field-appearance-fill.fuse-mat-emphasized-affix:hover .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-suffix {
    background-color: #E0E7FF !important;
  }
  .child-input.mat-focused,.child-input-parent.mat-focused{
    .mat-form-field-wrapper {
      .mat-form-field-flex {
        background: #E0E7FF !important;
        box-shadow: unset;
      }
    }
  }
  .mat-form-field.mat-form-field-appearance-fill.fuse-mat-emphasized-affix.mat-focused .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-prefix{
    background: #E0E7FF !important;
  }
  .child-input .mat-form-field-wrapper .mat-form-field-flex {
    background: transparent !important;
  }
  .mat-form-field:hover:not(.static-header) {
    .mat-form-field-flex {
      background-color: #E0E7FF !important;
    }
  }

  .selected-field.mat-form-field.mat-form-field-appearance-fill.fuse-mat-emphasized-affix .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-prefix, .selected-field.mat-form-field.mat-form-field-appearance-fill.fuse-mat-emphasized-affix .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-suffix {
    background-color: #E0E7FF !important;
  }

  .selected-field.mat-form-field {
    .mat-form-field-flex {
      background-color: #E0E7FF !important;
    }
  }

  .mat-form-field.mat-form-field-appearance-fill.mat-form-field-disabled {
    opacity: 1 !important;
  }

  .selected-field .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix{
    .mat-select {
      .mat-select-trigger {
          .mat-select-value {
              .mat-select-value-text {
                  > * {
                    color: #4F46E5 !important;    
                  }
              }
          }
      }
    }
  }
  .required-map-color {
    .mat-select {
      .mat-select-trigger {
          .mat-select-value {
              .mat-select-value-text {
                  > * {
                    &:hover {
                      color: #4F46E5 !important;
                    }
                  }
              }
          }
      }
    }
  }

  .optional-map-color {
    .mat-select {
      .mat-select-trigger {
          .mat-select-value {
              .mat-select-value-text {
                  > * {
                    &:hover {
                      color: #4F46E5 !important;
                    }
                  }
              }
          }
      }
    }
  }
  .selected-code{
    .mat-select-min-line{
      color: #1E293B !important;
    }
  }

  .hover-btn {
    display: none !important;
  }
  .selected-field{
    .hover-btn{
      display: inline-block !important;
      mat-icon{
        color: #4F46E5 !important;
      }
    }
  }
}
.available-option-container{
  padding-top: 2px !important;
}
.option-header{
  padding: 9.5px 0px;
}
.option-tab-value{
  border-bottom: solid 1px #E0E7FF;
  padding: 9.5px 0px;
  &:hover{
    background-color: #E0E7FF;
    --tw-text-opacity: 1 !important;
    color: rgba(var(--fuse-primary-500-rgb), var(--tw-text-opacity)) !important;
  }
}

.search-wrapper {
  top: 52px !important;
  height: 40px;
  .mat-form-field-wrapper {
    margin: 0 !important;
  }
}
.required-badge{
  border-radius: 4px;
  border: solid 1px #de3a3a;
  padding: 2px 10px;
  font-weight: 400;
  font-size: 0.76rem;
  color: #de3a3a; 
}
.options-wrapper {
  max-height: calc(100vh - 290px);
}
.fuse-mat-dense {
  .mat-form-field-wrapper {
    .mat-form-field-flex {
      border-radius: 0 !important;
      border: none;
      border-bottom: 1px solid red;
    }
  }
}
.crud-btns{
  margin-left: auto;
  margin-right: 16px;
}
@media only screen and (min-width: 1280px) {
  .mapping-area, .options-wrapper {
    max-height: calc(100vh -  220px);
  }
}