<ng-container *cdkPortal
  ><fuse-drawer
    class="w-screen min-w-screen sm:w-65vw sm:min-w-100 z-999"
    fixed
    [mode]="'over'"
    [name]="'addIntegrationDrawer'"
    [position]="'right'"
    [opened]="fuseDrawerOpened"
    (openedChanged)="openedChanged(fuseDrawer)"
    *ngIf="isOpen"
    #fuseDrawer
    ><div
      *ngIf="wipIntegration$ | async as instance"
      class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
      <mat-drawer-container class="flex-auto sm:h-full">
        <!-- Drawer -->
        <mat-drawer
          class="sm:w-80 dark:bg-gray-900"
          [autoFocus]="false"
          [mode]="drawerMode"
          [opened]="drawerOpened"
          #drawer>
          <!-- Header -->
          <div class="flex items-center justify-between m-8 mr-6 sm:my-10">
            <!-- Title -->
            <div class="text-3xl font-bold tracking-tight leading-none">
              {{ isAddIntegration ? 'Add' : 'Configure' }} Integration
            </div>
            <!-- Close button -->
            <div class="lg:hidden">
              <button mat-icon-button (click)="drawer.close()">
                <mat-icon [svgIcon]="'heroicons_outline:x'"></mat-icon>
              </button>
            </div>
          </div>
          <!-- Panel links -->
          <div class="flex flex-col divide-y border-t border-b">
            <ng-container *ngFor="let panel of panels; trackBy: trackByFn">
              <div
                class="flex px-8 py-5 cursor-pointer"
                [ngClass]="{
                  'hover:bg-gray-100 dark:hover:bg-hover': !panel.isActive,
                  'bg-primary-50 dark:bg-hover': panel.isActive
                }"
                (click)="goToPanel(panel.code)">
                <mat-icon
                  [ngClass]="{
                    'text-hint': !panel.isActive,
                    'text-primary dark:text-primary-500': panel.isActive
                  }"
                  [svgIcon]="panel.icon"></mat-icon>
                <div class="ml-3">
                  <div
                    class="font-medium leading-6"
                    [ngClass]="{
                      'text-primary dark:text-primary-500':
                        selectedPanel && selectedPanel.code === panel.code
                    }">
                    {{ panel.label }}
                  </div>
                </div>
                <div *ngIf="panel.badge" class="ml-auto mr-0">
                  <div [ngClass]="panel.badge.classes">
                    {{ panel.badge.title }}
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </mat-drawer>

        <!-- Drawer content -->
        <mat-drawer-content class="flex flex-col">

          <!-- Main Connection -->
          <div *ngIf="!selectedPanel" class="flex-auto px-6 pt-9 pb-12 md:p-8 md:pb-12 lg:p-12">
            <!-- Panel header -->
            <div class="flex flex-col">
              <!-- Drawer toggle -->
              <button
                class="lg:hidden -ml-2 mb-10"
                mat-icon-button
                (click)="drawer.toggle()">
                <mat-icon [svgIcon]="'heroicons_outline:menu'"></mat-icon>
              </button>

              <div class="w-full">
                <!-- Panel title -->
                <div
                  class="ml-2 lg:ml-0 text-3xl font-bold tracking-tight leading-none">
                  {{ instance.integration.connection.label }}
                </div>
                <div class="mt-0.5 text-secondary">
                  {{ instance.integration.connection.description }}
                </div>
              </div>
            </div>

            <!-- Load settings panel -->
            <div class="mt-8">
              <eco-add-integration-connection
              [instance]="instance"></eco-add-integration-connection>
            </div>
          </div>

          <!-- Main Sync Options -->
          <div *ngIf="selectedPanel" class="flex-auto px-6 pt-9 pb-12 md:p-8 md:pb-12 lg:p-12">
            <!-- Panel header -->
            <div class="flex flex-col">
              <!-- Drawer toggle -->
              <button
                class="lg:hidden -ml-2 mb-10"
                mat-icon-button
                (click)="drawer.toggle()">
                <mat-icon [svgIcon]="'heroicons_outline:menu'"></mat-icon>
              </button>

              <div class="grid grid-cols-6 gap-2 w-full">
                <!-- Panel title -->
                <div class="col-span-4 flex justify-between items-center">
                  <div>
                    <div
                      class="ml-2 lg:ml-0 text-3xl font-bold tracking-tight leading-none">
                      {{ selectedPanel.label }}
                    </div>
                    <div class="mt-0.5 text-secondary">
                      {{ selectedPanel.description }}
                    </div>
                  </div>
                  <div>
                    <button
                      *ngIf="!validate"
                      class="" 
                      (click)="toggleMappingToDo()"
                      mat-stroked-button
                    >
                      <span class="ml-2">Mapping to do</span>
                    </button>
                    <button
                      *ngIf="validate"
                      class=""
                      mat-flat-button
                      (click)="toggleMappingToDo()"
                      [color]="'primary'">
                      <span class="ml-2">Mapping to do</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Load settings panel -->
            <div class="mt-8" *ngIf="selectedTab">
              <!-- Tabs -->
              <div class="border-b">
                <nav class="tabs flex flex-col sm:flex-row">
                  <button *ngFor="let tab of selectedPanel.sub_sync_options"
                    (click)="goToTab(tab)"
                    class="tab ext-gray-600 py-4 px-6 block hover:text-primary-500 focus:outline-none"
                    [ngClass]="{
                      'active text-primary-600 border-b-2 border-primary-600': selectedTab && selectedTab.code === tab.code
                    }"
                  >
                    {{tab.label}}
                  </button>
                </nav>
              </div>

              <!-- Section -->
              <div class="grid grid-cols-6 gap-2 w-full mt-4">

                <!-- Mapping Section -->
                <div class="w-full col-span-4">
                  <div class="grid sm:grid-cols-4 w-full mapping-area rounded-md border border-gray-300">
                    
                    <!-- Static Field -->
                    <div class="sm:col-span-4 border-b">
                      <mat-form-field
                        class="fuse-mat-no-subscript fuse-mat-emphasized-affix my-0 w-full">
                        <div class="text-black w-full sm:w-full mapping-head" matPrefix>
                          <div class="flex items-center justify-between">
                            <div class="truncate block text-black font-bold text-lg">Mapping</div>
                            <div>
                              <button
                                class="min-w-0 w-8 hover-btn" mat-stroked-button
                              >
                                <mat-icon
                                  class="icon-size-5"
                                  [svgIcon]="'heroicons_solid:plus'"></mat-icon>
                              </button>
                            </div>
                          </div>
                        </div>
                        <mat-icon
                          class="icon-size-5 -mr-2.5"
                          [svgIcon]="'heroicons_solid:arrow-right'"
                          matPrefix></mat-icon>
                        <input class="text-lg text-black font-bold" disabled value="Mapped" matInput />
                      </mat-form-field>
                    </div>

                    <!-- Dynamic Fields -->
                    <ng-container
                      *ngFor="let field of selectedTab.mapping_options"
                    >
                      <ng-container
                        *ngIf="isConditionSatisfied(field)"
                      >
                        <div
                          class="sm:col-span-4 last:border-none border-b cursor-pointer"
                          (click)="goToField(field)"
                          [ngClass]="{
                            'bg-primary-200': selectedField && selectedField.code === field.code,
                            'required-map-color': field.required && validate && field.selected_value.code === '',
                            'optional-map-color': !field.required && validate && field.selected_value.code === ''
                          }"
                        >
                          <mat-form-field
                            class="fuse-mat-no-subscript fuse-mat-emphasized-affix my-0 w-full"
                            [ngClass]="{
                              'text-primary-800': selectedField && selectedField.code === field.code
                            }"
                          >
                            <div class="text-secondary w-full sm:w-full mr-0" matPrefix
                              [ngClass]="{
                                'text-primary-800 font-semibold': selectedField && selectedField.code === field.code
                              }"
                            >
                              <div class="flex items-center justify-between">
                                <div class="flex items-center">
                                  <mat-icon
                                    class="text-hint mat-icon-no-color"
                                    svgIcon="heroicons_solid:arrow-sm-right"
                                  ></mat-icon>
                                  <span class="truncate block ml-2">{{field.label}}
                                    <span *ngIf="field.required" class="text-red-600">*</span>
                                  </span>
                                </div>
                                <div>
                                  <button
                                    *ngIf="selectedField && selectedField.code === field.code"
                                    class="min-w-0 w-8" mat-stroked-button
                                    (click)="addChildren()"
                                  >
                                    <mat-icon
                                      class="icon-size-5"
                                      [svgIcon]="'heroicons_solid:plus'"></mat-icon>
                                  </button>
                                </div>
                              </div>
                            </div>
                            <mat-icon
                              class="icon-size-5 -mr-2.5"
                              [svgIcon]="'heroicons_solid:arrow-right'"
                              matPrefix></mat-icon>
                            <mat-select
                              [value]="field.selected_value.code" 
                              class="{{ field.selected_value.code === '' ? 'italic text-red-600' : '' }}"
                              disabled>
                              <mat-option [value]="field.selected_value.code"> <i> {{ field.selected_value.label }} </i></mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>

                        <!-- Child Fields -->
                        <ng-container
                          *ngFor="let children of field.children"
                        >
                          <div
                            class="sm:col-span-4 last:border-none border-b cursor-pointer"
                            (click)="goToField(children)"
                            [ngClass]="{
                              'bg-primary-200': selectedField && selectedField.code === children.code,
                              'required-map-color': children.required && validate && children.selected_value.code === '',
                              'optional-map-color': !children.required && validate && children.selected_value.code === ''
                            }"
                          >
                            <mat-form-field
                              class="fuse-mat-no-subscript fuse-mat-emphasized-affix my-0 w-full"
                              [ngClass]="{
                                'text-primary-800': selectedField && selectedField.code === children.code
                              }"
                            >
                              <div class="text-secondary w-full sm:w-full mr-0" matPrefix
                                [ngClass]="{
                                  'text-primary-800 font-semibold': selectedField && selectedField.code === children.code
                                }"
                              >
                                <div class="flex items-center ml-14">
                                  <span *ngIf="children.code.length" class="truncate block">{{children.label}}
                                    <span *ngIf="children.required" class="text-red-600">*</span>
                                  </span>
                                  <span *ngIf="!children.code.length">
                                    <mat-form-field class="fuse-mat-no-subscript w-full">
                                      <input 
                                        matInput 
                                        [(ngModel)]="children.label"
                                        (keyup.enter)="setChildrenLabel(children)"
                                      />
                                    </mat-form-field>
                                  </span>
                                </div>
                              </div>
                              <mat-icon
                                class="icon-size-5 -mr-2.5"
                                [svgIcon]="'heroicons_solid:arrow-right'"
                                matPrefix></mat-icon>
                              <mat-select
                                [value]="children.selected_value.code" 
                                class="{{ children.selected_value.code === '' ? 'italic text-red-600' : '' }}"
                                disabled>
                                <mat-option [value]="children.selected_value.code"> <i> {{ children.selected_value.label }} </i></mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </ng-container>

                      </ng-container>
                    </ng-container>
                  </div>
                </div>

                <!-- Options Section -->
                <div class="w-full col-span-2 rounded-md border border-gray-300 bg-white">
                  <ng-container *ngIf="!inputOptions.isActive">
                    <div class="text-black w-full sm:w-full border-b p-3">
                      <span class="truncate block text-black font-bold text-lg opacity-75">Options</span>
                    </div>
                    
                    <div class="py-3 px-2" *ngIf="selectedField && availableOptionsTypes">
                      <ng-container *ngFor="let valueOption of availableOptionsTypes">
                        <!-- Values list options -->
                        <ng-container *ngIf="
                          valueOption.value_option.value_option_type === 'values_list' &&
                          valueOption.valueList
                        ">
                          <div>
                            <ng-container>
                              <div class="flex items-center cursor-pointer">
                                <mat-icon
                                  class="w-3.5 h-3.5 text-hint mat-icon-no-color"
                                  svgIcon="mat_solid:add_box"
                                ></mat-icon>
                                <mat-icon
                                  class="text-hint mat-icon-no-color"
                                  svgIcon="heroicons_solid:arrow-sm-right"
                                ></mat-icon>
                                <span class="ml-2 text-sm text-gray-400 font-normal">{{valueOption.valueList.label}}</span>
                              </div>
                              <div
                                class="ml-20 mt-2 text-sm text-gray-400 font-normal cursor-pointer" 
                                *ngFor="let option of valueOption.valueList.values"
                                (click)="selectOption(option)">
                                {{option.label}}
                              </div>
                            </ng-container>
                          </div>
                        </ng-container>
                        <!-- Input options -->
                        <ng-container *ngIf="
                          valueOption.value_option.value_option_type === 'text_input' ||
                          valueOption.value_option.value_option_type === 'decimal_input'
                        ">
                          <div>
                            <div 
                              *ngIf="valueOption.value_option.value_type === 'static'"
                              (click)="toggleInputOption(valueOption.value_option, 'Static Text')"
                              class="flex items-center mt-4 cursor-pointer">
                              <mat-icon
                                class="text-hint mat-icon-no-color"
                                svgIcon="heroicons_solid:arrow-sm-right"
                              ></mat-icon>
                              <span class="ml-2 text-sm text-gray-400 font-normal">Static Text</span>
                            </div>
                            <div 
                              *ngIf="valueOption.value_option.value_type === 'attribute'"
                              (click)="toggleInputOption(valueOption.value_option, 'Advance: Custom Source Attribute')"
                              class="flex items-center mt-4 cursor-pointer">
                              <mat-icon
                                class="text-hint mat-icon-no-color"
                                svgIcon="heroicons_solid:arrow-sm-right"
                              ></mat-icon>
                              <span class="ml-2 truncate text-sm text-gray-400 font-normal">Advance: Custom Source attribute</span>
                            </div>
                          </div>
                        </ng-container>
                      </ng-container>
                    </div>
                  </ng-container>
                  

                  <!-- Input Section -->
                  <ng-container *ngIf="inputOptions.isActive && inputOptions.valueOption">
                    <div class="text-black w-full sm:w-full border-b p-3 flex items-center">
                      <div (click)="toggleInputOption()" class="h-6">
                        <mat-icon
                          class="text-hint mat-icon-no-color cursor-pointer"
                          svgIcon="heroicons_solid:arrow-sm-left"
                        ></mat-icon>
                      </div>
                      <span class="ml-4 truncate block text-black font-bold text-lg opacity-75">{{inputOptions.title}}</span>
                    </div>

                    <div class="w-11/12 mx-auto my-10">
                      <div>
                        <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-64 w-full">
                          <input
                            matInput
                            [autocomplete]="'off'"
                            [placeholder]="'Please enter your value'"
                            [type]="
                              inputOptions.valueOption.value_option_type === 'decimal_input' ?
                              'number' : 'text'
                            "
                            [(ngModel)]="inputOptions.value" />
                        </mat-form-field>
                      </div>
                      <div class="flex items-center justify-end w-full mt-3">
                        <button (click)="toggleInputOption()" mat-stroked-button type="button" class="w-1/4">Cancel</button>
                        <button 
                          #staticInput
                          (click)="setInputValue()"
                          [disbaled]="inputOptions.value.length === 0" 
                          class="ml-4 w-3/4" 
                          mat-flat-button
                          type="button" 
                          [color]="'primary'">
                          Map
                        </button>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>

              <!-- Divider -->
              <div class="mt-11 mb-10 border-t"></div>

              <!-- Actions -->
              <div class="flex items-center justify-end">
                <button mat-stroked-button type="button">Cancel</button>
                <button class="ml-4" mat-flat-button type="button" [color]="'primary'">
                  Save
                </button>
              </div>

              <ng-container *ngIf="selectedPanel && !selectedPanel.is_activated">
                <!-- Divider -->
                <div class="mt-11 mb-10 border-t"></div>
          
                <!-- Section -->
                <div class="flex w-full justify-center">
                  <fuse-alert [appearance]="'outline'" [type]="'info'">
                    <span fuseAlertTitle>Activate Orders Sync</span>
                    <div class="flex">
                      <span class="mr-4"
                        >If mapping has been completed, you can activate this sync.</span
                      >
                      <button
                        class="ml-auto mr-0"
                        mat-flat-button
                        type="button"
                        [color]="'primary'"
                        (click)="activatePanel()">
                        Activate
                      </button>
                    </div>
                  </fuse-alert>
                </div>
              </ng-container>
            </div>
          </div>
        </mat-drawer-content>
      </mat-drawer-container>
    </div>
  </fuse-drawer>
</ng-container>
